<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts:id</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2> POST QUORA : <%= idData.username %></h2>
        <div class="posts">
            <h3><%= idData.username %></h3>
            <p><%= idData.content %></p>
        </div>
</body>
</html>